body {
	font-family: Arial;
	font-size: 28px;
}
.header {
	background-color: rgba(80, 79, 151, 0.705);
	padding: 30px;
	margin: 0px 0px 30px 0px;
	position: fixed;
	width: 100%;
}
.menu__list {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
.menu__link {
	color: #fff;
	transition: color 0.3s ease-out;
}
.menu__link.active {
	color: rgb(138, 130, 130);
}
.main {
	padding: 147px 0px 0px 0px;
}
.page__section {
	/* min-height: 100vh; */
	padding: 30px 30px 60px 30px;
}
.page__section-1 {
	background-color: rgb(223, 89, 89);
}
.page__section-2 {
	background-color: rgb(66, 99, 85);
	height: 1600px;
}
.page__section-3 {
	background-color: rgb(164, 226, 164);
}
